// * {
//   background-color: #9deeeb;
// }

$borderRadius: 10px;
$buttonHeight: 70px;
$buttonWidth: $buttonHeight;

.result {
  background-color: #09c6c0;
  border-radius: $borderRadius $borderRadius 0px 0px;
  // width: 320px;
  height: 150px; 
}

.buttonPrimeiraLinha {
  --border-radius: 50%;
  width: $buttonWidth;
  height: $buttonHeight;
  --color: #ffffff;
  --background: #06a8a6;
  font-size: 20px;
}


.buttonultimaColuna {
  --border-radius: 50%;
  width: $buttonWidth;
  height: $buttonHeight;
  --background: #023535;
  font-size: 20px;
}

.buttoNumeros {
  --border-radius: 50%;
  width: $buttonWidth;
  height: $buttonHeight;
  --background:#015958;
  font-size: 20px;
}

.buttonUltimaLinha{
  --border-radius: 20px;
  width: 85%;
  height: $buttonHeight;
  --background:#00ada7;
  font-size: 25px;
}


.item {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1px;
  grid-row-gap: 10px;
  background-color: #bfe5e5;
  // width: 320px;  
  border-radius: 0px 0px $borderRadius $borderRadius;
  display: flex;
  justify-content: center;
  align-items: center;

}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-color: #023535 10px;
  
}

.back{
  // --border-radius: 50%;
  width: $buttonWidth;
  height: 40px;
  --color: #023535;
  --background: #bfe5e5;
}

.display{
  width: 350px;
  height: 30px;
  font-size: 35px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 25px;
}

.resultado{
  width: 350px;
  height: 30px;
  font-size: 42px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 40px;
}



@media screen and (max-width: 1200px) {
  .buttonPrimeiraLinha, .buttonultimaColuna, .buttoNumeros, .back {
    width: 60px;
    height: 60px;
  } 
}

@media screen and (max-width: 576px) {
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-color: #023535 10px;
    
  }


  .item {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1px;
    grid-row-gap: 10px;
    background-color: #bfe5e5;
    // width: 320px;  
    border-radius: 0px 0px $borderRadius $borderRadius;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .buttonPrimeiraLinha, .buttonultimaColuna, .buttoNumeros {
    width: 40px;
    height: 40px;
  }

  .back {
    width: 60px;
    height: 60px;
  }

  .buttonUltimaLinha {
    height: 40px;
  }
}


@media only screen and (max-width:640px) and (min-width: 360px) {
  .display{
    width: 300px;
    height: 30px;
    font-size: 30px;
    padding-right: 60px;
    padding-top: 25px;
  }
  
  .resultado{
    width: 300px;
    height: 25px;
    font-size: 42px;
    padding-right: 60px;
    padding-top: 35px;
  }

  .back{
    height: 40px;
  }
}