// * {
//   background-color: #9deeeb;
// }

$borderRadius: 10px;
$buttonHeight: 70px;
$buttonWidth: $buttonHeight;

.result {
  background-color: #09c6c0;
  border-radius: $borderRadius $borderRadius 0px 0px;
  // width: 320px;
  height: 200px; 
}

.buttonPrimeiraLinha {
  --border-radius: 50%;
  width: $buttonWidth;
  height: $buttonHeight;
  --color: #ffffff;
  --background: #06a8a6;
}


.buttonultimaColuna {
  --border-radius: 50%;
  width: $buttonWidth;
  height: $buttonHeight;
  --background: #023535;
}




.buttoNumeros {
  --border-radius: 50%;
  width: $buttonWidth;
  height: $buttonHeight;
  --background:#015958;
}




.buttonUltimaLinha{
  --border-radius: 20px;
  width: 85%;
  height: $buttonHeight;
  --background:#00ada7;
}


.item {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1px;
  grid-row-gap: 10px;
  background-color: #bfe5e5;
  // width: 320px;  
  border-radius: 0px 0px $borderRadius $borderRadius;
  display: flex;
  justify-content: center;
  align-items: center;

}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-color: #023535 10px;
  
}

.back{
  --border-radius: 50%;
  width: $buttonWidth;
  height: $buttonHeight;
  --color: #023535;
  --background: #bfe5e5;
}


@media screen and (max-width: 1200px) {
  .buttonPrimeiraLinha, .buttonultimaColuna, .buttoNumeros, .back {
    width: 60px;
    height: 60px;
  } 
}

@media screen and (max-width: 576px) {
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-color: #023535 10px;
    
  }


  .item {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1px;
    grid-row-gap: 10px;
    background-color: #bfe5e5;
    // width: 320px;  
    border-radius: 0px 0px $borderRadius $borderRadius;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .buttonPrimeiraLinha, .buttonultimaColuna, .buttoNumeros {
    width: 40px;
    height: 40px;
  }

  .back {
    width: 60px;
    height: 60px;
  }

  .buttonUltimaLinha {
    height: 40px;
  }
}