<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="10" size-lg="4" class="ion-text-center">

        

      <!-- Conta -->
      <ion-row class="result">
        <ion-col size="12"> <!-- col do lado da direita-->
         <ion-label>
          trdtrj
         </ion-label>
        </ion-col>
      </ion-row>

      <!-- Parte de digitar os numeros -->
      <ion-row>
        <ion-col size="12"> <!-- col do lado da direita-->

          <ion-row>  <!-- primeira linha da calculadora-->
            <ion-col size="3">
              <ion-button class="buttonPrimeiraLinha" >C</ion-button>
            </ion-col>
            
            <ion-col size="3">
              <ion-label>
                <ion-button class="buttonPrimeiraLinha">+/-</ion-button>
              </ion-label>
            </ion-col>

            <ion-col size="3">
              <ion-label>
                <ion-button class="buttonPrimeiraLinha" >%</ion-button>
              </ion-label>
            </ion-col>

            <ion-col size="3">
              <ion-label>
                <ion-button class="buttonultimaColuna" >/</ion-button>
              </ion-label>
            </ion-col>

          </ion-row>

          <ion-row>  <!--Segunda linha da calculadora-->
            <ion-col size="3">
              <ion-button class="buttoNumeros" >7</ion-button>
            </ion-col>
            
            <ion-col size="3">
              <ion-label>
                <ion-button class="buttoNumeros" >8</ion-button>
              </ion-label>
            </ion-col>

            <ion-col size="3">
              <ion-label>
                <ion-button class="buttoNumeros" >9</ion-button>
              </ion-label>
            </ion-col>

            <ion-col size="3">
              <ion-label>
                <ion-button class="buttonultimaColuna" >=</ion-button>
              </ion-label>
            </ion-col>

          </ion-row>

          <ion-row>  <!--Terceira linha da calculadora-->
            <ion-col size="3">
              <ion-button class="buttoNumeros" >4</ion-button>
            </ion-col>
            
            <ion-col size="3">
              <ion-button class="buttoNumeros" >5</ion-button>
            </ion-col>

            <ion-col size="3">
                <ion-button class="buttoNumeros" >6</ion-button>
            </ion-col>

            <ion-col size="3">
              <ion-button class="buttonultimaColuna" >=</ion-button>
            </ion-col>

          </ion-row>

          <ion-row>  <!--Quarta linha da calculadora-->
            <ion-col size="3">
                <ion-button class="buttoNumeros" >1</ion-button>
            </ion-col>
            
            <ion-col size="3">
                <ion-button class="buttoNumeros" >2</ion-button>
            </ion-col>

            <ion-col size="3">
                <ion-button class="buttoNumeros" >3</ion-button>
            </ion-col>

            <ion-col size="3">
              <ion-button class="buttonultimaColuna" >=</ion-button>
            </ion-col>
          </ion-row>

          <ion-row>  <!--Quinta linha da calculadora-->
            <ion-col size="6">
              <ion-button class="buttonUltimaLinha" >0</ion-button>
            </ion-col>
            
            <ion-col size="3">
              <ion-button class="buttoNumeros" >,</ion-button>
            </ion-col>

            <ion-col size="3">
              <ion-button class="buttonultimaColuna" >=</ion-button>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>

     </ion-col>
    </ion-row>
</ion-content>